#myphoto{
	position: absolute;
	left: 30px;
	margin: 50px;
	/*border-radius: 100%;*/
	padding: 5px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

}
#about{
  background: #a2a276;
}
#more{
  background: #5c5c3d;
}
.frstp{

    width: 1000px;
    height:250px;
    background-color:#a3c2c2;
 
    box-shadow: 10px 10px 5px #000122;


  /*background: #ffff99;*/

  padding: 20px;
  position: relative;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.paper {
  

    width: 1000px;
    height:160px;
    background-color:#a3c2c2;
 
    box-shadow: 10px 10px 5px #000122;


  /*background: #ffff99;*/

  padding: 20px;
  position: relative;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.paper,
.paper::before,
.paper::after {0
  /* Styles to distinguish sheets from one another */
  box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 75%;
  width: 90%;
  /*background-color: #eee;*/
}

.paper::before {
  right: 10px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}
.paper::before,
.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
h1{
	font-family: 'Fjalla One', sans-serif;
}
.container-fluid{
  background:#993300

;
}

#name{
  color: #ff3300;
  font-family: 'Great Vibes', cursive;

}
.am{
  text-align: center;
  margin: 100px;
  position 
}
.wel{
  text-align: center;
  margin-left: 45px;
font-family: 'Oleo Script', cursive;

}
body{
  /*background-image: url("../img/land.jpg");*/
  background-size: 100%;
    background:#c2c2d6

}
#home{
  background:#c2c2d6



;
}

#proj{
  background: #b8b894
  ;
}

#social-media{
  position: fixed;
  top: 400px;
  right: 40%;
  width: 175px;
  z-index: 2;
  /*margin:20px;*/
  /*padding-top: 20px;*/
}
#result{
  background-color:  #00b3b3;
  position: absolute;
  left: 180px;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 25px black;
}
#click{
  text-align: center;
  margin: 30px
}
#fav{
  width:500px;
}
#btnCurrent{
  width: 500px;
}
#favresult{
  background-color:  #ff8080;
  position: absolute;
  left: 700px;
  margin: 10px;
  padding: 10px;
  width: 400px;
    border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 25px black;
}
#fav_name{
  color: white;
  font-size: 20px;
}
#lan{
  float: right;
  position: relative;
  right: 30px
}
#skills{
  
}